// utils
.clear-both {
  clear: both;
}

.mobile-visible-block-only {
  display: none;
  @media (max-width: $screen-mobile) {
    display: block;
  }
}

.desktop-visible-block-only {
  display: block;
  @media (max-width: $screen-mobile) {
    display: none;
  }
}

.mobile-visible-inline-only {
  display: none;
  @media (max-width: $screen-mobile) {
    display: inline;
  }
}

.desktop-visible-inline-only {
  display: inline;
  @media (max-width: $screen-mobile) {
    display: none;
  }
}

// '색깔'에 대한 개념은 light -> 아무것도없음 -> deep
.hhr-light-blue {
  color: $hhr-light-blue;
}

.hhr-blue {
  color: $hhr-blue;
}

.hhr-deep-blue {
  color: $hhr-deep-blue;
}

.hhf-red {
  color: $hhr-red;
}

// 이 아래것들, 컴포넌트로 만들어야겠는데?
// '크기' 에 대한 개념은 small -> regular -> large
.hhr-small-divider {
  background-color: $hhr-light-gray;
  width: 100%;
  height: 10px;
}

.hhr-regular-divider {
  background-color: $hhr-light-gray;
  width: 100%;
  height: 20px;
}

.hhr-large-divider {
  background-color: $hhr-light-gray;
  width: 100%;
  height: 30px;
}

.hhr-gray-small-divider {
  background-color: $hhr-deep-gray;
  width: 100%;
  height: 0.5px;
  margin-top: 17px;
  margin-bottom: 17px;
}

.hhr-blue-small-divider {
  background-color: $hhr-deep-blue;
  width: 100%;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hhr-white-small-divider {
  background-color: white;
  width: 100%;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hhr-above-dot {
  font-size: 30px;
  text-emphasis-style: dot;
  text-emphasis-position: over left;
  -webkit-text-emphasis-style: dot;
  -webkit-text-emphasis-position: over;
}

.hhr-display-block {
  display: block;
}

.hhr-display-none {
  display: none;
}

.hhr-telephone-emphasize {
  &:hover {
    font-weight: 500;
  }
}

.hhr-email-emphasize {
  &:hover {
    font-weight: 500;
  }
}

.hhr-labeling {
  display: block;
  width: 100%;
  height: 100%;
  vertical-align: center;
  @media (max-width: $screen-mobile) {
  }
}

.hhr-labeling-title {
  font-size: 18px;
  line-height: 30px;
  @media (max-width: $screen-mobile) {
    font-size: 22px;
    line-height: 30px;
  }
}


.hhr-select {
  width: auto;
  height: 30px;
  line-height: 26px;
  background: none;
  outline: 0;
  border: none;
  //border-top: none;
  //border-left: none;
  //border-right: none;
  //border-bottom: 1.5px solid $hhr-blue;
  border-radius: 0;
  font-family: inherit;
  padding: 4px 0 0 0;
  cursor: pointer;
  text-align: center;
  text-align: -webkit-center;
  text-align-last: center;
  font-weight: 300;
  -webkit-appearance: none;
  -moz-appearance: none;
  @media (max-width: $screen-mobile) {
    width: auto;
    font-size: 18px;
  }
    &:focus {
    color: $hhr-blue;
  }
  &:focus, &:active {
    cursor: pointer;
  }
  .hhr-option {
    width: auto;
    height: auto;
    padding: 2px;
    color: black;
    font-weight: 300;
    white-space: pre;
    line-height: 30px;
    text-shadow: none;
  }
}

.hhr-input {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  font-weight: 200;
  font-size: 15px;
  letter-spacing: -0.5px;
  line-height: 22px;
  padding: 5px 10px;
  border-radius: 3px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @media (max-width: $screen-mobile) {
    font-size: 18px;
    line-height: 24px;
  }
  &:focus {
    border: 1px solid $hhr-blue;
  }
}

.hhr-textarea {
  display: block;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  font-weight: 200;
  font-size: 15px;
  letter-spacing: -0.5px;
  line-height: 22px;
  resize: none;
  border-radius: 3px;
  width: 100%;
  overflow: hidden;
  padding: 5px 10px;
  @media (max-width: $screen-mobile) {
    font-size: 18px;
    line-height: 24px;
  }
  &:focus {
    border: 1px solid $hhr-blue;
  }
}

.hhr-positive-button {
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  transition: 0.3s;
  &:hover {
    color: $hhr-deep-blue;
    background-color: white;
    font-size: 16.5px;
    font-weight: 700;
  }
  @media (max-width: $screen-mobile) {
    border: 0;
    border-radius: 0;
    color: $hhr-deep-blue;
    background-color: white;
    font-size: 18px;
  }
}

.hhf-positive-reversal-button {
  border: 1px solid $hhr-deep-blue;
  border-radius: 5px;
  background-color: white;
  color: $hhr-deep-blue;
  transition: 0.3s;
  &:hover {
    color: $hhr-deep-blue;
    font-size: 16.5px;
    font-weight: 700;
  }
  @media (max-width: $screen-mobile) {
    color: $hhr-deep-blue;
    font-size: 18px;
    border: 0;
    border-radius: 0;
  }
}

.hhr-negative-button {
  border: 1px solid $hhr-deep-blue;
  border-radius: 5px;
  color: $hhr-deep-blue;
  transition: 0.3s;
  &:hover {
    color: white;
    background-color: $hhr-deep-blue;
    font-size: 16.5px;
    font-weight: 700;
  }
  @media (max-width: $screen-mobile) {
    border: 0;
    border-radius: 0;
    color: white;
    background-color: $hhr-deep-blue;
    font-size: 18px;
  }
}

.hhr-negative-reversal-button {
  border: 1px solid $hhr-deep-blue;
  border-radius: 5px;
  background-color: $hhr-deep-blue;
  color: white;
  transition: 0.3s;
  &:hover {
    font-size: 16.5px;
    font-weight: 700;
  }
  @media (max-width: $screen-mobile) {
    background-color: $hhr-deep-blue;
    font-size: 18px;
  }
}