//@ Screen size variable
$screen-desktop: 992px;
$screen-tablet: 768px;
$screen-mobile: $screen-tablet - 1px;
$screen-desktop-another: 1200px;
$screen-tablet-max: $screen-desktop - 1px;
$screen-tablet-max-another: $screen-desktop-another - 1px;
$grid-gutter-width: 30px !default;

//@ Contents size variable
$contents-width: 980px;
$contents-height: 0;

//@ Color variable
$hhr-light-blue: rgb(169, 196, 245);
$hhr-blue: rgb(100, 149, 237);
$hhr-deep-blue: rgb(101, 147, 245);

$hhr-gray: rgba(211, 211, 211, 0.5);
$hhr-light-gray: rgba(211, 211, 211, 0.1);
$hhr-deep-gray: rgb(53,53,53);
$hhr-opacity-deep-gray: rgba(53,53,53, 0.2);

$hhr-white: rgb(255,255,255);
$hhr-light-white: rgba(255,255,255,0.5);
$hhr-transparent-white: rgba(211, 211, 211, 0.8);

$hhr-ivory: rgb(255,255,240);

$hhr-red: rgb(300,18,27);
$hhr-deep-red: rgb(145,18,27);

$hhr-yellow: rgb(255,221,46);

$hhr-black: rgb(0, 0, 0);
$hhr-transparent-black: rgba(0, 0, 0, 0.4);
$hhr-transparent-light-black: rgba(0, 0, 0, 0.1);
